/* 
FRONT-END STYLE GUIDE

---01 TYPOGRAPHY SYSTEM

--Fonts

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

-Font Size

Header Type 2 : 22px ( 1.375rem)
Highlighted text :  18px (1.125rem)
Body :  16px  (1rem)

---02 COLORS

-Primary:

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

-Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)


---03 LAYOUT

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

/* //////////////////////////////////////////////////////////// */
/*    GLOBAL RESET START                                         /
/* //////////////////////////////////////////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* //////////////////////////////////////////////////////////// */
/*   GLOBAL RESET END                                         */
/* //////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////// */


body {

    font-family: "Karla", sans-serif;
    background-color: #E6EFF5;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1rem;
}



.container {
    max-width: 22.6rem;
    border-radius: 6px;
    overflow: hidden;

}

/*  THE 3 COLUMNS- GENERAL */

.heading {
    color: hsl(204, 43%, 93%);
    font-size: 1.125rem;
}

.column-join {
    background-color: #fff;
    padding: 2rem 2.2rem
}

.column-subscription {
    background-color: #2AB3B1;
    font-size: 1.125rem;
    padding: 1.8rem 2.2rem;
}

.column-why {
    background-color: hsla(179, 62%, 43%, 0.755);
    padding: 1.8rem 2.2rem;
}



/* COLUMN 1- "JOIN OUR COMMUNITY" */
/* Heading */
.heading-join {
    color: hsl(179, 62%, 43%);
    font-size: 1.25rem;
    letter-spacing: 0.25px;
    margin-bottom: 1.4rem;
}

/* Paragraph 1 */
.column-join p:nth-of-type(1) {
    color: hsl(71, 73%, 54%);
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 00.175px;
    margin-bottom: 0.75rem;
}

/* Paragraph 2 */
.column-join p:nth-of-type(2) {
    font-size: 0.875rem;
    line-height: 1.625;
    letter-spacing: 00.175px;
    color: hsl(218, 22%, 67%);
}

/* COLUMN 2- "MONTHLY SUBSCRIPTION" */
/* Heading */


.heading-subscription {
    color: hsl(204, 43%, 93%);
    margin-bottom: 1.8rem;
}

.monthly-price {
    color: hsl(204, 43%, 93%);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.small-text {
    font-size: 1rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: hsla(203, 44%, 93%, 0.674);
}

.column-subscription p:nth-of-type(2) {
    /* font-size: 1.125rem; */
    color: hsla(203, 44%, 93%, 0.846);
    letter-spacing: 0.2px;
    margin-bottom: 1.8rem;
}

.btn-container {
    text-align: center;
}



.btn {
    display: block;
    text-decoration: none;
    color: hsl(204, 43%, 93%);
    font-size: 1rem;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    padding: 0.9rem 0;
    border-radius: 5px;
}

/* COLUMN 3 - "WHY US" */

.heading-why {
    margin-bottom: 1rem;
}

.list {
    list-style: none;
    letter-spacing: 0.175px;
    color: hsla(203, 44%, 93%, 0.745);
    padding-left: 0rem;
    font-size: 0.875rem;
}



/* ///////////////// */
/* MEDIA QUERY */
/* ////////////////// */

/* ABOVE 1439px  */

@media (min-width: 90em) {

    .container {
        max-width: 39.35rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.3fr;
    }

    .column-join {
        grid-column: 1/3;
        padding-right: 4.6rem;
    }

    .container {
        max-width: 39.35rem;
        overflow: none;
    }

}